{% extends "base.html" %}

{% block title %}Upload Failed | {% endblock %}

{% block content %}

<!-- No Data Form -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="card">
        <div class="card-content">
          <h1 class="title">
            You don't have any data uploaded or it is not processed yet.
          </h1>
          <br>
          <h1 class="subtitle">
            To upload a csv file, click <a href="{% url 'upload' %}">here</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- No Data Form end -->

{% endblock %}
