{% extends "base.html" %}

{% block title %}Not Logged In | {% endblock %}

{% block content %}

<!-- Login Route Form -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="card">
        <div class="card-content">
          <h1 class="title">
            You must log in to use this feature.
          </h1>
          <br>
          <h1 class="subtitle">
            <a href="{% url 'login' %}">Log in</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Route Form end -->

{% endblock %}
