{% extends "base.html" %}

{% block title %}Upload Failed | {% endblock %}

{% block content %}

<!-- Upload Csv Fail Form -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="card">
        <div class="card-content">
          <h1 class="title">
            There was an error with the input.  Please check your file again.
          </h1>
          <br>
          <h1 class="subtitle">
            <a href="{% url 'index' %}">Return to front page</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Upload Csv Fail Form end -->

{% endblock %}
