{% extends "base.html" %}

{% block title %}Not Processed | {% endblock %}

{% block content %}

<!-- No Data Form -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="card">
        <div class="card-content">
          <h1 class="title">
            Your data isn't processed yet.
          </h1>
          <br>
          <h1 class="subtitle">
            <a href="{% url 'processed' %}">Return to CSV upload list</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- No Data Form end -->

{% endblock %}
